 .gradient{
  column-span: 3;
  background:  url('images/bg-main-desktop.png');
 }

 .cardFront{
    height: 200px;
    width: 320px;
    background: url('images/bg-card-front.png') no-repeat center/cover;
    border-radius: 20px;
 }

 .cardBack{
    background: url('images/bg-card-back.png') no-repeat center/cover;
    height: 200px;
    width: 320px;
    border-radius: 20px;

 }

 .card-rotate {
  transition: transform 0.5s ease;
}
